<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
<link href="/default.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<script>
	// 체크에 걸렸을 때 : alert("메시지"); focus 
	// 아이디 체크(4 ~ 20자 사이)
	// 패스워드 체크(4 ~ 20자 사이)
	// 이름 체크(공백이 아님)
	// 성별 체크 확인
	// 생년월일 체크(오늘 이전 날짜만 가능)
	
		function check(){
			const id = $("#member_id").val();
			const pas = $("#password").val();
			const name = $("#name").val();
			const gen = $('input:radio[name=gender]').is(":checked");
			const day = new Date($("#birth").val());
			
			if(id.length < 4 || id.length > 20){
				alert("아이디는 4 ~20자 사이로 해야합니다");
				return false;
			} 
			if(pas.length < 4 || pas.length > 20){
				alert("비밀번호는 4 ~ 20자 사이로 해야합니다");
				return false;
			}
			if(name.length == 0){
				alert("이름은 공백이 되면 안됩니다");
				return false;
			}
			if(!gen){
				alert("성별을 체크해야합니다");
				return false;
			}
			
			if(day == ""){
				alert("생년월일을 입력하세요");
				$("#birth").focus();
			}
			if(day > new Date()){
				alert("오늘 날짜 이전만 체크 가능합니다");
				return false;
			}
			let email = $("#email");
			
			if(email.val() == ""){
				alert("이메일을 입력해주세요");
				email.focus();
				return false;
			}
			
			return false;
		}

	
</script>
</head>
<body>
	<div id="container">
		<h1>회원가입 Form</h1>
		<form action="/member/join" method="post" th:object="${member}" onsubmit="check()">
			<!--<div th:if="${errMsg}" th:text="${errMsg}"></div> -->
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors}" th:text="${err}" class="error"></p>
			</div>
		  <table >
			<tr>
			 <th>ID</th>
			 <td>
				 <input type="text" th:field="*{member_id}">
				 <div th:errors="*{member_id}" class="error"></div>	 
			 </td>
			</tr>		
			<tr>
			  <th>Password</th>
			  <td>
				  <input type="password" th:field="*{password}">
				  <div th:errors="*{password}" class="error"></div>
			  </td>
			</tr>
			<tr>
			  <th>name</th>
			  <td>
				  <input type="text" th:field=*{name}>
				  <div th:errors="*{name}" class="error"></div>
			  </td>
			</tr>
			<tr>
			  <th>gender</th>
			  <td>
			  
			  <!--<label for="gender1">남성</label>
			  <input type="radio" th:field="*{gender}" value="MALE">
			  <label for="gender2">여성</label>
			  <input type="radio" th:field="*{gender}" value="FEMALE"> -->
			  <th:block th:each="gender : ${T(com.example.board.model.member.GenderType).values()}">
				  <label th:for="${#ids.next('gender')}" th:text="${gender.description}"></label>
				  <input type="radio" th:field="*{gender}" th:value="${gender}">
			  </th:block>
			  <div th:errors="*{gender}" class="error"></div>
			  </td>
			</tr>
			<tr>
			  <th>birth</th>
			  <td>
				  <input type="date" th:field="*{birth}">
				  <div th:errors="*{birth}" class="error"></div>
			  </td>
			</tr>
			<tr>
			  <th>email</th>
			  <td><input type="text" th:field="*{email}"></td>
			</tr>
		  </table>
		  <p>
			<div class="center">
			  <input type="button" value="메인으로" onclick="location.href='/'">
			  <input type="submit" value="가입하기" >
			  <input type="reset"  value="다시작성">
 			</div>
		  </p>
		</form>
	</div>
</body>
</html>